# Steps :
# 1. Check Info,describe
# 2. If nulls, missing values - Find a way to replace them or resolve them
# 3. Convert data into numerics - LabelEncoder (providing unique label to each categorie), OneHotEncoder
# 4. Outliers :    
    # 1. Clipping -impractical outliers
    # 2. Imputing - consider Null and then handle them (practicle outliers)
# 5. Is there a chance, I can reduce data? - Manually and Practical Verify, PCA
# 6. Scaling Data - MinMax, Standard Scaler, Robust Scaler
# Train Test Split

#.............................................................................

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
data = pd.read_csv ("/content/sample_data/california_housing_train.csv")
data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [ ]:
type(data["longitude"][0]) == np.float64

True

In [ ]:
data.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

In [ ]:
rows = np.random.choice(data.shape[0], 1000, replace=False)
data.iloc[rows, 0] = np.nan

In [ ]:
data.isnull().sum()

longitude             1000
latitude                 0
housing_median_age       0
total_rooms              0
total_bedrooms           0
population               0
households               0
median_income            0
median_house_value       0
dtype: int64

In [ ]:
data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

Handling Nulls

In [ ]:
# replace - mean, medians, mode, ffil, bfil, SimpleImputer, KNNImputer, IterativeImputer, drop

In [ ]:
# Dropping Null Values
null_tesing = data.copy()

In [ ]:
data2 = data.dropna(axis= 0, how = 'all')

In [ ]:
data2.isnull().sum()

longitude             1000
latitude                 0
housing_median_age       0
total_rooms              0
total_bedrooms           0
population               0
households               0
median_income            0
median_house_value       0
dtype: int64

In [ ]:
data = data.fillna (value = data.mean())
data.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

In [ ]:
# Dropping Null Values
null_testing = data.copy()