In [ ]:
!wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh

--2022-05-11 08:40:11--  https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh
Resolving repo.continuum.io (repo.continuum.io)... 104.18.201.79, 104.18.200.79, 2606:4700::6812:c94f, ...
Connecting to repo.continuum.io (repo.continuum.io)|104.18.201.79|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://repo.anaconda.com/miniconda/Miniconda3-latest-Linux-x86_64.sh [following]
--2022-05-11 08:40:12--  https://repo.anaconda.com/miniconda/Miniconda3-latest-Linux-x86_64.sh
Resolving repo.anaconda.com (repo.anaconda.com)... 104.16.131.3, 104.16.130.3, 2606:4700::6810:8303, ...
Connecting to repo.anaconda.com (repo.anaconda.com)|104.16.131.3|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 75660608 (72M) [application/x-sh]
Saving to: ‘Miniconda3-latest-Linux-x86_64.sh’

Miniconda3-latest-L 100%[===================>]  72.16M   104MB/s    in 0.7s

2022-05-11 08:40:12 (104 MB/s) - ‘Miniconda3-latest-Linux-x86_64.sh’ saved [75660608/75660608]

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.impute import KNNImputer

In [ ]:
data = pd.read_csv("/content/sample_data/california_housing_train.csv")
data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [ ]:
data.drop(['total_rooms'], axis = 1, inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17000 entries, 0 to 16999
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           17000 non-null  float64
 1   latitude            17000 non-null  float64
 2   housing_median_age  17000 non-null  float64
 3   total_bedrooms      17000 non-null  float64
 4   population          17000 non-null  float64
 5   households          17000 non-null  float64
 6   median_income       17000 non-null  float64
 7   median_house_value  17000 non-null  float64
dtypes: float64(8)
memory usage: 1.0 MB

In [ ]:
dataisnull (). sum()

NameError: ignored

In [ ]:
data.drop(['population'], axis = 1, inplace=True)

In [ ]:
np.unique(data['longitude'])

array([-124.35, -124.3 , -124.27, -124.26, -124.25, -124.23, -124.22,
       -124.21, -124.19, -124.18, -124.17, -124.16, -124.15, -124.14,
       -124.13, -124.11, -124.1 , -124.09, -124.08, -124.07, -124.06,
       -124.05, -124.03, -124.02, -124.01, -124.  , -123.98, -123.96,
       -123.91, -123.88, -123.85, -123.84, -123.83, -123.82, -123.81,
       -123.8 , -123.79, -123.78, -123.76, -123.75, -123.73, -123.72,
       -123.71, -123.7 , -123.69, -123.68, -123.66, -123.64, -123.63,
       -123.59, -123.58, -123.54, -123.53, -123.49, -123.48, -123.43,
       -123.41, -123.4 , -123.38, -123.37, -123.36, -123.35, -123.34,
       -123.32, -123.26, -123.25, -123.24, -123.23, -123.22, -123.21,
       -123.2 , -123.19, -123.18, -123.17, -123.16, -123.15, -123.13,
       -123.12, -123.11, -123.1 , -123.08, -123.07, -123.04, -123.03,
       -123.02, -123.01, -123.  , -122.99, -122.98, -122.97, -122.96,
       -122.95, -122.94, -122.93, -122.92, -122.91, -122.9 , -122.89,
       -122.88, -122.87, -122.86, -122.85, -122.84, -122.83, -122.82,
       -122.81, -122.8 , -122.79, -122.78, -122.77, -122.76, -122.75,
       -122.74, -122.73, -122.72, -122.71, -122.7 , -122.69, -122.68,
       -122.67, -122.66, -122.65, -122.64, -122.63, -122.62, -122.61,
       -122.6 , -122.59, -122.58, -122.57, -122.56, -122.55, -122.54,
       -122.53, -122.52, -122.51, -122.5 , -122.49, -122.48, -122.47,
       -122.46, -122.45, -122.44, -122.43, -122.42, -122.41, -122.4 ,
       -122.39, -122.38, -122.37, -122.36, -122.35, -122.34, -122.33,
       -122.32, -122.31, -122.3 , -122.29, -122.28, -122.27, -122.26,
       -122.25, -122.24, -122.23, -122.22, -122.21, -122.2 , -122.19,
       -122.18, -122.17, -122.16, -122.15, -122.14, -122.13, -122.12,
       -122.11, -122.1 , -122.09, -122.08, -122.07, -122.06, -122.05,
       -122.04, -122.03, -122.02, -122.01, -122.  , -121.99, -121.98,
       -121.97, -121.96, -121.95, -121.94, -121.93, -121.92, -121.91,
       -121.9 , -121.89, -121.88, -121.87, -121.86, -121.85, -121.84,
       -121.83, -121.82, -121.81, -121.8 , -121.79, -121.78, -121.77,
       -121.76, -121.75, -121.74, -121.73, -121.72, -121.71, -121.7 ,
       -121.69, -121.68, -121.67, -121.66, -121.65, -121.64, -121.63,
       -121.62, -121.61, -121.6 , -121.59, -121.58, -121.57, -121.56,
       -121.55, -121.54, -121.53, -121.52, -121.51, -121.5 , -121.49,
       -121.48, -121.47, -121.46, -121.45, -121.44, -121.43, -121.42,
       -121.41, -121.4 , -121.39, -121.38, -121.37, -121.36, -121.35,
       -121.34, -121.33, -121.32, -121.31, -121.3 , -121.29, -121.28,
       -121.27, -121.26, -121.25, -121.24, -121.23, -121.22, -121.21,
       -121.2 , -121.19, -121.18, -121.17, -121.16, -121.15, -121.14,
       -121.13, -121.12, -121.11, -121.1 , -121.09, -121.08, -121.07,
       -121.06, -121.05, -121.04, -121.03, -121.02, -121.01, -121.  ,
       -120.99, -120.98, -120.97, -120.96, -120.95, -120.94, -120.93,
       -120.92, -120.91, -120.9 , -120.89, -120.88, -120.87, -120.86,
       -120.85, -120.84, -120.83, -120.82, -120.81, -120.8 , -120.79,
       -120.78, -120.77, -120.76, -120.75, -120.74, -120.73, -120.72,
       -120.71, -120.7 , -120.69, -120.68, -120.67, -120.66, -120.65,
       -120.64, -120.63, -120.62, -120.61, -120.6 , -120.59, -120.58,
       -120.57, -120.56, -120.55, -120.54, -120.53, -120.52, -120.51,
       -120.5 , -120.49, -120.48, -120.47, -120.46, -120.45, -120.44,
       -120.43, -120.42, -120.41, -120.4 , -120.39, -120.38, -120.37,
       -120.36, -120.35, -120.34, -120.33, -120.32, -120.31, -120.3 ,
       -120.29, -120.28, -120.27, -120.26, -120.25, -120.24, -120.23,
       -120.22, -120.21, -120.2 , -120.19, -120.18, -120.17, -120.16,
       -120.15, -120.14, -120.13, -120.12, -120.11, -120.1 , -120.09,
       -120.08, -120.07, -120.06, -120.05, -120.04, -120.03, -120.02,
       -120.01, -120.  , -119.99, -119.98, -119.97, -119.96, -119.95,
       -119.94, -119.93, -119.92, -119.91, -119.9 , -119.89, -119.88,
       -119.87, -119.86, -119.85, -119.84, -119.83, -119.82, -119.81,
       -119.8 , -119.79, -119.78, -119.77, -119.76, -119.75, -119.74,
       -119.73, -119.72, -119.71, -119.7 , -119.69, -119.68, -119.67,
       -119.66, -119.65, -119.64, -119.63, -119.62, -119.61, -119.6 ,
       -119.59, -119.58, -119.57, -119.56, -119.55, -119.54, -119.53,
       -119.52, -119.51, -119.5 , -119.49, -119.48, -119.47, -119.46,
       -119.45, -119.44, -119.43, -119.42, -119.41, -119.4 , -119.39,
       -119.38, -119.37, -119.36, -119.35, -119.34, -119.33, -119.32,
       -119.31, -119.3 , -119.29, -119.28, -119.27, -119.26, -119.25,
       -119.24, -119.23, -119.22, -119.21, -119.2 , -119.19, -119.18,
       -119.17, -119.16, -119.15, -119.14, -119.13, -119.12, -119.11,
       -119.1 , -119.09, -119.08, -119.07, -119.06, -119.05, -119.04,
       -119.03, -119.02, -119.01, -119.  , -118.99, -118.98, -118.97,
       -118.96, -118.95, -118.94, -118.93, -118.92, -118.91, -118.9 ,
       -118.89, -118.88, -118.87, -118.86, -118.85, -118.84, -118.83,
       -118.82, -118.81, -118.8 , -118.79, -118.78, -118.77, -118.76,
       -118.75, -118.74, -118.73, -118.72, -118.71, -118.7 , -118.69,
       -118.68, -118.67, -118.66, -118.65, -118.64, -118.63, -118.62,
       -118.61, -118.6 , -118.59, -118.58, -118.57, -118.56, -118.55,
       -118.54, -118.53, -118.52, -118.51, -118.5 , -118.49, -118.48,
       -118.47, -118.46, -118.45, -118.44, -118.43, -118.42, -118.41,
       -118.4 , -118.39, -118.38, -118.37, -118.36, -118.35, -118.34,
       -118.33, -118.32, -118.31, -118.3 , -118.29, -118.28, -118.27,
       -118.26, -118.25, -118.24, -118.23, -118.22, -118.21, -118.2 ,
       -118.19, -118.18, -118.17, -118.16, -118.15, -118.14, -118.13,
       -118.12, -118.11, -118.1 , -118.09, -118.08, -118.07, -118.06,
       -118.05, -118.04, -118.03, -118.02, -118.01, -118.  , -117.99,
       -117.98, -117.97, -117.96, -117.95, -117.94, -117.93, -117.92,
       -117.91, -117.9 , -117.89, -117.88, -117.87, -117.86, -117.85,
       -117.84, -117.83, -117.82, -117.81, -117.8 , -117.79, -117.78,
       -117.77, -117.76, -117.75, -117.74, -117.73, -117.72, -117.71,
       -117.7 , -117.69, -117.68, -117.67, -117.66, -117.65, -117.64,
       -117.63, -117.62, -117.61, -117.6 , -117.59, -117.58, -117.57,
       -117.56, -117.55, -117.54, -117.53, -117.52, -117.51, -117.5 ,
       -117.49, -117.48, -117.47, -117.46, -117.45, -117.44, -117.43,
       -117.42, -117.41, -117.4 , -117.39, -117.38, -117.37, -117.36,
       -117.35, -117.34, -117.33, -117.32, -117.31, -117.3 , -117.29,
       -117.28, -117.27, -117.26, -117.25, -117.24, -117.23, -117.22,
       -117.21, -117.2 , -117.19, -117.18, -117.17, -117.16, -117.15,
       -117.14, -117.13, -117.12, -117.11, -117.1 , -117.09, -117.08,
       -117.07, -117.06, -117.05, -117.04, -117.03, -117.02, -117.01,
       -117.  , -116.99, -116.98, -116.97, -116.96, -116.95, -116.94,
       -116.93, -116.92, -116.91, -116.9 , -116.89, -116.88, -116.87,
       -116.86, -116.85, -116.84, -116.83, -116.82, -116.8 , -116.79,
       -116.78, -116.77, -116.76, -116.75, -116.74, -116.72, -116.71,
       -116.68, -116.67, -116.66, -116.62, -116.61, -116.6 , -116.58,
       -116.57, -116.56, -116.55, -116.54, -116.53, -116.52, -116.51,
       -116.5 , -116.49, -116.48, -116.47, -116.46, -116.45, -116.44,
       -116.43, -116.42, -116.41, -116.4 , -116.39, -116.38, -116.37,
       -116.36, -116.35, -116.34, -116.33, -116.32, -116.31, -116.3 ,
       -116.29, -116.27, -116.26, -116.25, -116.24, -116.23, -116.22,
       -116.21, -116.2 , -116.19, -116.18, -116.17, -116.16, -116.15,
       -116.14, -116.12, -116.11, -116.09, -116.08, -116.06, -116.05,
       -116.02, -116.01, -116.  , -115.99, -115.98, -115.96, -115.95,
       -115.94, -115.93, -115.91, -115.9 , -115.88, -115.85, -115.84,
       -115.8 , -115.73, -115.72, -115.69, -115.64, -115.62, -115.6 ,
       -115.59, -115.58, -115.57, -115.56, -115.55, -115.54, -115.53,
       -115.52, -115.51, -115.5 , -115.49, -115.48, -115.46, -115.41,
       -115.4 , -115.39, -115.38, -115.37, -115.32, -115.22, -114.98,
       -114.94, -114.73, -114.68, -114.67, -114.66, -114.65, -114.63,
       -114.61, -114.6 , -114.59, -114.58, -114.57, -114.56, -114.47,
       -114.31])

In [ ]:
# if categorical - median
# if numerical - mean, ffil, bfil, KNN, Iterative (KNN Imputer)
def FillMissing(data):
    cols = list(data.columns)
    categorical_cols = []
    numerical_cols = []
    for col in cols:
        n_unique = np.unique(data[col]) # find categories
        if len(n_unique) < 15:
             categorical_cols.append(col)
    print(categorical_cols, numerical_cols)
    temp_data = data[categorical_cols].fillna(value = data[categorical_cols].median())
    data.loc[:,  numerical_cols] = temp_data.values
    #KNN Imputer
    imputer = KNNImputer()
    imputer.fit(data[numerical_cols])
    data.loc[:,  numerical_cols] = imputer.transform(data[numerical_cols])
    return data

In [ ]:
data['total_bedrooms'].value_counts()

280.0     48
309.0     44
331.0     43
394.0     43
345.0     43
          ..
2405.0     1
1797.0     1
1024.0     1
1494.0     1
936.0      1
Name: total_bedrooms, Length: 1848, dtype: int64

In [ ]:
data['latitude'].value_counts()

34.06    205
34.08    200
34.05    196
34.07    194
34.04    188
        ...
39.96      1
41.50      1
39.38      1
35.91      1
41.84      1
Name: latitude, Length: 840, dtype: int64

In [ ]:
data['median_house_value'].value_counts()

500001.0    814
137500.0     95
162500.0     89
112500.0     85
187500.0     74
           ...
316600.0      1
391300.0      1
392200.0      1
328200.0      1
80500.0       1
Name: median_house_value, Length: 3694, dtype: int64

In [ ]:
data['households'].value_counts()

306.0     48
386.0     48
282.0     47
330.0     46
426.0     45
          ..
3671.0     1
1437.0     1
2731.0     1
1129.0     1
992.0      1
Name: households, Length: 1740, dtype: int64

In [ ]:
Le = LabelEncoder()
data['longitude'] = Le.fit_transform(data['median_house_value'])

In [ ]:
data.head()

,longitude,latitude,housing_median_age,total_bedrooms,households,median_income,median_house_value
0,246,34.19,15.0,1283.0,472.0,1.4936,66900.0
1,376,34.40,19.0,1901.0,463.0,1.8200,80100.0
2,432,33.69,17.0,174.0,117.0,1.6509,85700.0
3,310,33.64,14.0,337.0,226.0,3.1917,73400.0
4,233,33.57,20.0,326.0,262.0,1.9250,65500.0

In [ ]:
def GetOutlierLocations(data, threshold = 5):
    mean_ = data.mean()
    std_ = data.std()
    threshold_high, threshold_low = mean_ + threshold*std_, mean_ - threshold*std_
    outliers_above, outliers_below = data > threshold_high, data < threshold_low
    plt.plot(data)
    plt.plot([threshold_high]*data.shape[0])
    plt.plot([threshold_low]*data.shape[0])
    plt.show()
    return np.where(np.logical_or(outliers_above, outliers_below))[0]

In [ ]:
check_outliers = ['households', 'housing_median_age']
for check_out in check_outliers:
locs = GetOutlierLocations(data[check_out])
print(f' {len(locs)} Outliers Found in [check_out] column')
data.loc[locs,check_out] = np.nan

IndentationError: ignored

In [ ]:
cols_for_ohe = ['households']
cols_for_scaler = ['latitude', 'housing_median_age']

cols_transformer = make_column_transformer(
    (KNNImputer(), list(data.columns)), # Filling Outliers
    (OneHotEncoder(), cols_for_ohe),
    remainder = 'passthrough'
)

In [ ]:
# scale
cols_for_scaler = ['latitude', 'housing_median_age']
Scaler = StandardScaler()
Scaler.fit(data[cols_for_scaler])
data.loc[:, cols_for_scaler] = Scaler.transform(data[cols_for_scaler])

In [ ]:
cols_transformer.fit(data)

ColumnTransformer(remainder='passthrough',
                  transformers=[('knnimputer', KNNImputer(),
                                 ['longitude', 'latitude', 'housing_median_age',
                                  'total_bedrooms', 'households',
                                  'median_income', 'median_house_value']),
                                ('onehotencoder', OneHotEncoder(),
                                 ['households']),
                                ('standardscaler', StandardScaler(),
                                 ['latitude', 'housing_median_age'])])

In [ ]:
transformed_data = cols_transformer.transform(data)

In [ ]:
pd.DataFrame(transformed_data)

                                                       0
0        (0, 0)\t246.0\n  (0, 1)\t34.19\n  (0, 2)\t15...
1        (0, 0)\t376.0\n  (0, 1)\t34.4\n  (0, 2)\t19....
2        (0, 0)\t432.0\n  (0, 1)\t33.69\n  (0, 2)\t17...
3        (0, 0)\t310.0\n  (0, 1)\t33.64\n  (0, 2)\t14...
4        (0, 0)\t233.0\n  (0, 1)\t33.57\n  (0, 2)\t20...
...                                                  ...
16995    (0, 0)\t688.0\n  (0, 1)\t40.58\n  (0, 2)\t52...
16996    (0, 0)\t365.0\n  (0, 1)\t40.69\n  (0, 2)\t36...
16997    (0, 0)\t611.0\n  (0, 1)\t41.84\n  (0, 2)\t17...
16998    (0, 0)\t433.0\n  (0, 1)\t41.8\n  (0, 2)\t19....
16999    (0, 0)\t521.0\n  (0, 1)\t40.54\n  (0, 2)\t52...

[17000 rows x 1 columns]