In [ ]:
#importing the libraries
import pandas as pd
import numpy as np

#reading the dataset
df=pd.read_csv("/content/sample_data/california_housing_train.csv")

In [ ]:
# Import Label Encoder
# Import OneHotEncoder
from sklearn import preprocessing
from sklearn.compose import make_column_transformer

In [ ]:
# Label Encoder
# Assign a unique value to a categorie, gender - male/female (0/1).

data = pd.DataFrame({'gender' : ['male', 'female','male', 'female','male', 'female'], 'age' : [16, 18,22, 19,25, 30]})
data.head()

   gender  age
0    male   16
1  female   18
2    male   22
3  female   19
4    male   25

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   gender  6 non-null      object
 1   age     6 non-null      int64
dtypes: int64(1), object(1)
memory usage: 224.0+ bytes

In [ ]:
Le_Encoder = LabelEncoder()
Le_Encoder.fit(data['gender'])

NameError: ignored

In [ ]:
Le_Encoder.classes

NameError: ignored